@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --menu-animation-background: 247 100% 50%;
    --menu-animation-button: 16 100% 58%;
    --shoping-experience-bg: 73 46% 52%;
    --shoping-experience-accent: 71 69% 33%;
    --shoping-experience-primary: 96 96% 10%;
    --text-heading-one: clamp(2em, 5vw, 10em);
    --text-heading-two: clamp(1.2em, 2vw, 1.8em);
    --text-paragraph: clamp(14px, 1.05vw, 24px);
    --text-navbar: clamp(13px, 1vw, 16px);
    --text-navbar-caps: clamp(12px, 0.8vw, 13px);

    --homepage-bg: 38.2 52.4% 95.9%;
    --homepage-border: 41.3 40.5% 69%;
    --homepage-navbar-bg: 39.2 17.3% 87.6%;
    --homepage-navbar-item-hover: 39.2 17.3% 93%;
    --homepage-card-bg: 37.5 57.1% 97.3%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --homepage-bg: 0, 0%, 6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .nav-width {
    width: min(100%, 500px);
  }
}

.photo-gallery-container {
  scrollbar-width: none;
}

.photo-gallery-container::-webkit-scrollbar {
  display: none;
}

.gallery-column {
  display: grid;
  gap: 16px;
}

.gallery-column.is-row {
  display: flex;
  width: fit-content;
  height: 100vh;
  align-items: center;
}

.gallery-item {
  min-width: 150px;
  width: 10vw;
  height: 25vh;
  min-height: 200px;
}

.gallery-column.is-row .gallery-item {
  min-width: 200px;
  min-height: 350px;
  width: 20vw;
  height: 40vh;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
}
